name: Submodule Auto Update

on:
  schedule:
    - cron: "0 16 * * *"
  workflow_dispatch:

jobs:
  check-submodules:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout main repo with submodules
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Update submodules
        run: git submodule update --init --remote --recursive

      - name: Generate search index
        run: npm run run

      - name: Commit and push changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

          git status --porcelain

          git add -A

          if ! git diff --cached --quiet; then
            git commit -m "chore: submodule updated"
            git push origin main
          else
            echo "No changes to commit"
          fi
